*~
aclocal.m4
autoconf.h
autoconf.h.in
autoconf.h.in~
autom4te.cache/
_build/
config.log
config.status
configure
configure.ac.bak
configure.scan
core
cscope.*
ctwm/getstyles
ctwm/start
.deps/
fvwm/start
INSTALL
_install/
jwm/getstyles
jwm/start
*.la
.libs/
libtool
*.lo
*.log
m4/
Makefile
Makefile.in
*.man
.nfs*
*.o
rc.m4
README
README.html
README.txt
RELEASE
RELEASE.html
RELEASE.txt
scripts/
stamp-h*
.*.sw[mnop]
*.tar.*
*.tmp
twm/getstyles
twm/start
vtwm/getstyles
vtwm/start
xde-identify
xde.pc
xde-setbg
xde-setwm
xde-style
xde-theme
xde-theme-*.tar.xz
xde-watch
